<div class="row" >
  <div class="information-panel card col-lg-12">

    <% if @park %>
      <div class="card-image col-lg-6" >

        <%= image_tag (@park.image) %>
        <span class="card-title"><%= @park.name %></span>
      </div>

      <div class="card-content col-lg-6">
        <p><%= @park.description %></p>


      </div>
    <% else %>

    <% end %>
  </div>
</div>
