
  <% if @messages%>
    <% @messages.each do |m|%>
      <div class="avatar col-lg-2">
        avatar
      </div>
      <div class="message-content col-lg-10">  
          <p style="font-style: italic;"><%= m.content%></p>
      </div>
    <%end%>
  <% else %>
      <div class="avatar col-lg-2">
        avatar
      </div>
      <div class="message-content col-lg-10">
          <p style="font-style: italic;">I love this world this world is the best ai Love this wrokd lalala dfhsdfh asdf</p>
      </div>

  <%end%>
