<style>
.pagination{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;

}

.previous_page{
  position: absolute;
  left: 30%;
}

.next_page{
  position: absolute;
  right: 30%;
}

.pagination-button{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: black;

}
.pagination-button:hover{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
  text-decoration: none;
}
.pagination-button:visited{
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.disabled{
  color:grey;
}
</style>




  <% if @messages%>
  <div class="message-content">
     <%= render @messages %>
  </div>
  <%= will_paginate @messages, :page_links => false %>

  <%end%>

  <% if @park %>
  <div class="row">
      <div id="input">  <%=render :template => 'messages/new', :locals => {:park_id => @park_id}%></div>
  </div>
  <%end%>


<script>
//ajax pagination
$(function() {
  $('.pagination a').click(function () {
                  $.get(this.href, null, null, 'script');
                  return false;
  });

  $( ".message-content" ).fadeOut( 0, function() {
    $(".message-content").fadeIn(800);
  });

  $(".pagination").addClass("text-center");
  $(".previous_page, .next_page").addClass("pagination-button");
  $(".previous_page, .next_page").text("");
  $(".previous_page").addClass("fa fa-arrow-left fa-2x");
  $(".next_page").addClass("fa fa-arrow-right fa-2x");



});
</script>
