<div class="bg"></div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-center white-text" style="padding-top:50px;">Attractus</h1>
    <p class="lead text-center white-text">Find your favorite national park.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="input-field col-lg-12" id="the-basics">

          <input type="text" class="form-control text-center typeahead" placeholder="Search for a national park...">
          <!-- <label for="search"><i class="fa fa-search"></i></label> -->
        </div>
      </div>
    </div>

  </div>

</div>

<div class="container">

  <p>down</p>
  <p>down</p>
  <p>down</p>
  <p>down</p>
  <p>down</p><p>down</p>
  <p>down</p>
  <p>down</p>
  <p>down</p>

  <p>down</p><p>down</p>
  <p>down</p>

  <p>down</p>
  <p>down</p>
  <p>down</p>
  <p>down</p><p>down</p>

  <p>down</p>
  <p>down</p>

  <p>down</p>
  <p>down</p>

  <p>down</p>
  <p>down</p>
  <p>down</p>


</div>
