// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
// img{
//   top: 100px;
// }




.bg {
  background: asset_url('jumbotron_bg.jpg') no-repeat center center;
  // background: url(<%= image_tag "orange_logo.png"%>) no-repeat center center;

  position: fixed;
  width: 100%;
  height: 400px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}


.parallax{
  margin-bottom: -150px;

}
.parallax-container {
      height: 450px;
      text-shadow: #444 0 1px 1px;
      color: white;
}

#title-panel{
  margin-top: 50px;
  h1{
    font-size: 60px;
  }
  p{
    font-size: 23px;
  }
}

.search-button{
  border: none;
  background-color: rgba(0, 0, 0, 0);

}
.search-button:hover{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
}
.search-button:visited{
  border: none;
  background-color: rgba(0, 0, 0, 0);
}


.input-field input[type=text] {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 black;
    color: white;
    font-size: 20px;
  }
.input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 black;
  }

  .input-field .prefix.active {
    color: #000;
  }


  .twitter-typeahead{
    width: 100%;
    display: block !important;
    // padding-right: 67px;
  }

  .tt-dropdown-menu{

    top: 32px !important;
    width: 100%;
    color: white;
    text-shadow: none;
    font-size: 17px;
    background-color: black;
    opacity: 0.5;
  }

#left-panel, #map-panel{

  height: 700px;
}

#bottom-panel{
  margin-top: 100px;
  width: 1900px;
}

.row{

  margin-bottom: 0;
}


.information-panel{
  box-shadow: none;
}

.one-message{
  border-top: 1px solid #eeeeee;
  padding-top: 15px;
}

.message-avatar{
  width: 50px;
	height: 50px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;


}
.message-username{
 color: #424242;
 font-size: 12px;
 font-weight: bold;
}

.message-content{
  padding-top: 15px;
}

.message-avatar, .message-username{
  margin-left: 10px;
}
