// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.disable-panel{
  opacity: 0.4;
   pointer-events: none;
}

.disable-panel-text{
  color: black;
  font-size: 45px;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
}

.bg {
  background: asset_url('jumbotron_bg.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 400px;
  top:0;
  left:0;
  z-index: -1;
}


.parallax{
  margin-bottom: -150px;

}
.parallax-container {
      height: 450px;
      text-shadow: #444 0 1px 1px;
      color: white;
}

#title-panel{
  margin-top: 50px;
  h1{
    font-size: 60px;
  }
  p{
    font-size: 23px;
  }
}

.search-button{
  border: none;
  background-color: rgba(0, 0, 0, 0);

}
.search-button:hover{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
}
.search-button:visited{
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.post-button{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;

}
.post-button:hover{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.post-button:visited{
  border: none;
  background-color: rgba(0, 0, 0, 0);
}


.input-field input[type=text] {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 black;
  color: white;
  font-size: 20px;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 black;
}

.input-field .prefix.active {
  color: #000;
}


  .twitter-typeahead{
    width: 100%;
    display: block !important;
    color: black;
    // padding-right: 67px;
  }


  .tt-dropdown-menu{

    top: 32px !important;
    width: 100%;
    color: white;
    text-shadow: none;
    font-size: 17px;
    background-color: black;
    opacity: 0.5;
  }

#left-panel, #map-panel{
  height: 700px;
}



#bottom-panel{
  margin-top: 100px;
}

.row{
  margin-bottom: 0;
}


.information-panel{
  box-shadow: none;
  img{
    height: 220px;
  }
}

.one-message{
  border-top: 1px solid #eeeeee;
  padding-top: 15px;
}

.message-avatar{
  width: 50px;
	height: 50px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
.message-username{
 color: #424242;
 font-size: 12px;
 font-weight: bold;
}

.message-content{
  padding-top: 15px;
}

.message-avatar, .message-username{
  margin-left: 10px;
}

#input-box{
  position: absolute;
  bottom: 0px;
}
#input-box input[type=text] {
  box-shadow: 0 1px 0 0 grey;
  font-size: 14px;
}
#input-box input[type=text]:focus {
  box-shadow: 0 1px 0 0 grey;
}


@media all and (max-width: 768px) {
  #left-panel, #map-panel{
    height: 900px;
  }
  .one-message{
    height: 100px;

  }
  #map-panel{
    height: 300px;
  }
  .message-avatar{
    width: 40px;
  	height: 40px;
  }

}
